@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    margin : 0;
    font-family: 'Yusei Magic', sans-serif;

}


a {
    text-decoration: none;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.nav-bar li {
    margin : 0 20px 0 20px;
    font-size : 40px;
}

nav ul li a {
    color : black;
    font-weight: bold;
}

nav ul li a:hover {
    color : rgb(119, 119, 119);
}


#name {
    text-align: center;
    font-size: 60px;
}


.item {
    font-size: 60px;
    margin-left: 100px;
}


.container-aboutme {
    margin : 20px 0 0 10px;
   display: flex;
   justify-items: right;
   border-style: solid;
   border-color: black;
   border-radius: 5px;
   width: 50%;
   background-color: rgb(255, 82, 82);
}

.container-aboutme > * {
    margin : 3px 0 3px 0;
}

.container-aboutme p {
    font-size: 20px;
    margin : 0 0 0 5px;
}






